# macOS
.DS_Store

# Xcode
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.xccheckout
.netrc
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/*.xcodeproj
/.build
/Packages
build/
DerivedData/
xcuserdata/

# Bundler
.bundle
